[2015-07-23 22:22] DamianEdwards opened #1 "Get site app created & publishing to Azure"
- [x] Initial commit with an ASP.NET 5 app with a simple landing page (for now).
- [x] Configure branches to push to deployment slots onhttp://live.asp.net on commit
  - [x] `dev` branch to Staging slot
  - [x] `prod` branch to Production slot

[2015-07-23 22:23] DamianEdwards opened #2 "Allow sign-in for admins via Azure AD for microsoft.com"
Admin functions require sign-in via Azure AD

[2015-07-23 23:00] DamianEdwards opened #3 "Add service to pull list of community stand-up videos from youtube.com"
Use the youtube API to get details of videos in the playlist at https://www.youtube.com/playlist?list=PL0M0zPgJ3HSftTAAHttA3JQU4vOjXFquF

API sample to start with at https://developers.google.com/youtube/v3/code_samples/dotnet#create_a_playlist

[2015-07-24 00:18] DamianEdwards opened #4 "Add anaylytics"
These should only show up when served from production.

For MS:

[code]

For Google Anaylytics:

[code]

[2015-07-24 00:44] #4 closed, assigned to nobody

[2015-07-25 06:40] #1 closed, assigned to DamianEdwards

[2015-07-25 06:40] #3 closed, assigned to nobody

[2015-07-26 06:10] #2 closed, assigned to nobody

[2015-07-26 06:11] DamianEdwards opened #5 "Use EF for storing streaming URL and next show date/time"
Just start with the in-memory provider for now then figure out migrations and pushing it to Azure.
- [x] Use in-memory provider
- [ ] Use SQL provider

[2015-07-26 06:14] DamianEdwards opened #6 "Azure AD sign-in doesn't like it when there's already a cookie for a different domain"
If I sign in to Azure with my MS account (damian@damianedwards.com), then try to sign in to live.asp.net (local, staging, whatever), the Azure AD login screen just shows an error. If I go incognito or clear my cookies for login.microsoftonline.com then I'm able to sign-in OK with my MS CorpNet credentials.

[2015-07-26 21:53] DamianEdwards opened #7 "Add ability to clear cache of previous shows from the Admin screen"
Cache is set to 5 minutes currently but we could probably just make it cache indefinitely and just manually clear the cache from the Admin screen when we add a new show.

[2015-07-26 22:03] DamianEdwards opened #8 "Sort out the storage and display of the next show date"
It's a mixture of `DateTime` and `DateTimeOffset` right now. Perhaps easier to just store it as `DateTime` as it will always be in PST. If we decide to something clever later on like show home page visitors the next show time in their local timezone, we could just adjust the date before display.

[2015-07-26 22:05] DamianEdwards opened #9 "Redirect to original URL after sign-in"
If I navigate to ~/Admin and then sign-in via Azure AD, it navigates me back to the home page. Need to figure out how to flow the original URL.

[2015-07-26 22:47] DamianEdwards opened #10 "Add an "About the ASP.NET Community Standup" section to the home page, after the previous episodes"
Add a section to the home page, after the previous episodes list, titled "About the ASP.NET Community Standup" that gives a description of what it is and who hosts it, with twitter links, etc.

[2015-07-26 22:51] DamianEdwards opened #11 "Use MVC TempData to show success message on admin screen"
It's using a temporary cookie right now but seems like the exact case `TempData` was created for.

[2015-07-26 23:04] shanselman opened #12 "Add Video titles?"
Add Video titles? I can change the YT ones and add better desc if you want

[2015-07-27 16:45] DamianEdwards opened #13 "Add ability to set a message in the Admin screen that shows on the home page"
In case we need to tell users that we're futzing with the stream or some-such, we should be able to set a message from the Admin screen that displays prominently on the home page

[2015-07-27 21:38] #9 closed, assigned to nobody

[2015-07-27 22:07] #12 closed, assigned to nobody

[2015-07-27 22:07] #11 closed, assigned to nobody

[2015-07-27 22:50] #7 closed, assigned to nobody

[2015-07-27 23:23] #13 closed, assigned to nobody

[2015-07-27 23:47] DamianEdwards opened #14 "Debugging stuff is really hard in production on Azure"
Need to somehow enable a way to see actual exception details from the portal or similar when stuff doesn't work.

[2015-07-27 23:49] DamianEdwards opened #15 "Add AppInsights so we can see nice stuff"

[2015-07-28 03:06] DamianEdwards opened #16 "favicon.ico looks bad in HiDpi"
Should contain 16x16 & 32x32 sizes. Right now it has 16x16 & 24x24

[2015-07-28 04:35] #16 closed, assigned to nobody

[2015-07-28 04:50] #15 closed, assigned to nobody

[2015-07-28 05:28] #8 closed, assigned to nobody

[2015-07-28 19:28] DamianEdwards opened #17 "Make a more diverse background image for the home page"
Add more screen captures from more episodes, include some non-person shots (e.g. code).

[2015-07-29 23:42] DamianEdwards opened #18 "Allow people to download an ICS file (Outlook) for the next show"

[2015-07-30 23:39] DamianEdwards opened #19 "Add custom AppInsights events to track when YouTube API is called"

[2015-07-31 03:53] #5 closed, assigned to nobody

[2015-07-31 04:22] #19 closed, assigned to nobody

[2015-07-31 05:30] DamianEdwards opened #20 "Set up Kudu deployment script to publish in Release & pre-compile site"
Get the deploy.cmd from the SCM portal, modify it to run `dnu publish --no-source --configuration Release` and put it in the root of the repo. Hopefully it will speed up the app startup time after deployment slightly.

[2015-07-31 05:31] DamianEdwards opened #21 "Factor the "click to show" elements of the Admin screen into a Tag Helper"
'cos DRY and Tag Helpers are cool.

[2015-07-31 15:40] #14 closed, assigned to nobody

[2015-07-31 17:35] DamianEdwards opened #22 "Add a LICENSE.txt"
Apache 2

[2015-07-31 17:36] DamianEdwards opened #23 "Update README.md with instructions for using user-secrets"

[2015-07-31 17:36] DamianEdwards opened #24 "Use design data automatically if YouTube API key isn't set"

[2015-08-01 19:26] #24 closed, assigned to nobody

[2015-08-01 19:27] #22 closed, assigned to nobody

[2015-08-01 21:32] #20 closed, assigned to nobody

[2015-08-01 21:49] #23 closed, assigned to nobody

[2015-08-04 05:55] #18 closed, assigned to nobody

[2015-08-04 05:55] #17 closed, assigned to nobody

[2015-08-06 20:23] TimMurphy opened #26 "Add to Google Calendar"
Current link to next standup (webcals://live.asp.net/ical) does not work with Google Calendar.

[2015-08-06 20:24] TimMurphy commented on #26
@DamianEdwards if you approve this issue I'd like to work on a pull request for it.

[2015-08-06 22:11] alikor opened #27 "Missing Unit tests?"
This is supposedly production code but there are no cross platform unit tests?

Even though the global.json there should be a folder full of tests!

[2015-08-06 22:26] Eilon commented on #27
Surely @DamianEdwards just forgot to check them in!

[2015-08-06 22:27] Eilon commented on #26
That would be great.

[2015-08-06 22:29] DamianEdwards commented on #27
They aren't here because I didn't write any.

[2015-08-06 22:59] shanselman commented on #18
Thought. This seems to have Outlook subscribe to a new calendar (the whole calendar and not just add the one event?) That means it doesn't get added to your main calendar, plus we have just one event and not a feed.

Is this the desired behavior?

[2015-08-06 23:22] TimMurphy commented on #18
@shanselman relevant for issue #26 (Add to Google Calendar)?

I prefer add the next standup to my main calendar.

[2015-08-06 23:57] shanselman commented on #18
Looks like it. It think we want a calendar ITEM to be made (like
Meetup.com/EventBrite.com) rather than a CALENDAR being made. Your turn,
Tim. ;)

On Thu, Aug 6, 2015 at 4:22 PM, Tim Murphy notifications@github.com wrote:

##

Scott Hanselman
Donate to fight diabetes: http://hnsl.mn/fightdiabetes

[2015-08-07 00:51] DamianEdwards commented on #18
Yeah I was thinking about this. `webcal://` is pretty powerful and lets you push updates and do recurring and all types of wonderful, and it works in places that ICS doesn't. But, ICS is well understood and simple, and we don't use those webcal features (yet).

I propose we have a way to let the user decide, e.g. a bootstrap dropdown that lists the different formats. So you click "Add to calendar"

[2015-08-07 03:59] hishamco opened #28 "Unable to restore packages"
I'm facing an issue when I run **dnu restore** it show unable to locate [dependency]

[2015-08-07 04:30] Eilon commented on #28
Screenshot?

[2015-08-07 04:47] hishamco commented on #28
![bug](https://cloud.githubusercontent.com/assets/3237266/9128901/7769797c-3cd8-11e5-8932-b401b16dbaea.PNG)

[2015-08-07 05:37] DamianEdwards commented on #28
Can you show the part where it reports what `nuget.config` and feeds were used?

[2015-08-07 05:38] hishamco commented on #28
NuGet Config files used:
    C:\Users\Hisham\AppData\Roaming\NuGet\NuGet.Config
    C:\Users\Hisham\Source\Repos\live.asp.net\NuGet.Config

[2015-08-07 05:51] hishamco commented on #28
Seems we need to change the NuGet.config to read the online feed, shall I made a PR for that?

[2015-08-07 05:52] DamianEdwards commented on #28
Not sure what you mean. It's working fine for me and during deployment to azure, so it should work everywhere.

[2015-08-07 05:56] hishamco commented on #28
It works now after i add the following feeds:

[code]

if you notice in **NuGet.config** there's a <clear/> which causes the issue, I think we need to change the NuGet.config, so let me know if can submit a PR now

[2015-08-07 05:57] hishamco commented on #28
Perhaps all the packages needed is already there in your end?!!

[2015-08-07 06:11] DamianEdwards commented on #28
This project shouldn't be using any packages from the AspNetVNext feed, and everything on the nuget v2 feed should also be on the nuget v3 feed (which is the one this project is using). So we need to figure out the root cause rather than add more feeds.

[2015-08-07 06:12] DamianEdwards commented on #28
Can you try running a restore with --no-cache, e.g. `dnu restore --no-cache`? With the original nuget.config in the repo.

[2015-08-07 06:17] hishamco commented on #28
I already restore them after adding AspNetVNext feed, is there a way to revert that using command line?

[2015-08-07 06:19] Eilon commented on #28
If you use the `--no-cache` flag it will ignore any previously installed package. Do a `git clean -xdf` first, though.

[2015-08-07 06:24] hishamco commented on #28
They restore them without `--no-cache`?!! shall i remove the packages folder entries?

[2015-08-07 06:33] Eilon commented on #28
Please revert any local changes to the repo, run `git clean -xdf` and then run `dnu restore --no-cache`, and then build.

[2015-08-07 06:40] hishamco commented on #28
I already ran `git clean -xdf` and `dnu restore --no-cache`, seems restore them quickly from my local packages, strange!!
Let me clean the packages & dnu cache folders and try again

[2015-08-07 06:46] hishamco commented on #28
I already did, I got the error that I post in my first thread, but whenever I add the feeds that I mentioned before everything works as excepted.
FYI I upgrade the dnvm to **1.0.0-beta7-12302**

[2015-08-07 16:41] Eilon commented on #28
Can you run `dnu feeds list` and show the output? I have a feeling that some feeds are disabled...

[2015-08-07 17:05] hishamco commented on #28
There's a feed named `api.nuget.org/v3` which is disabled as you said, believe it or not this is the first time i see this command, please let me know how can I enable it

[2015-08-07 17:08] Eilon commented on #28
Please run the command and show us the output.

[2015-08-07 17:10] hishamco commented on #28
As I told you before, here is a screenshot
![capture](https://cloud.githubusercontent.com/assets/3237266/9141307/5c69f954-3d40-11e5-870a-92d47492c738.PNG)

[2015-08-07 17:51] Eilon commented on #28
Can you run it from within the project folder? The NuGet feeds depend on the exact location of the project.

[2015-08-07 17:53] hishamco commented on #28
![capture](https://cloud.githubusercontent.com/assets/3237266/9142121/5942f95a-3d46-11e5-9f53-8fe069df128b.PNG)

[2015-08-07 18:01] DamianEdwards commented on #28
Is there any chance the v3 feed is blocked from your location? Can you browse to that URL?

[2015-08-07 18:04] hishamco commented on #28
Whenever I write that url, json file popups into the browser

[2015-08-07 22:06] DamianEdwards commented on #28
Can you ensure you have the latest VS tooling installed (the beta6 update) as well SSD the latest NuGet VS client. If so, open the feeds config dialog from Tools -> NuGet Package Manager -> Settings and then hit OK.

[2015-08-07 22:29] DamianEdwards commented on #26
@TimMurphy I've updated the UI to be a dropdown now, so when you do this, please just add a new menu item. Cheers!

[2015-08-07 23:06] TimMurphy commented on #26
Will do. Likely to have crack tomorrow.

[2015-08-07 23:57] #27 closed, assigned to nobody

[2015-08-08 15:18] hishamco commented on #28
I already installed the latest DVNM version, I will check the NuGet version and i will follow your instructions

[2015-08-08 15:32] hishamco commented on #28
Well done :)
thanks @DamianEdwards

[2015-08-08 15:37] #28 closed, assigned to nobody

[2015-08-09 19:27] peterblazejewicz opened #36 "Remove unused client side dependencies"
The client-side dependencies from initial project bootstrap can be removed:
https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/bower.json#L6-L7

[code]

They are not used. The website CSS stylesheet will require removal of `bootstrap-touch-carousel` related code as well.

If removed, it will simplify and clarify client-side dependencies in project.

Is it OK to PR this?

Thanks!

[2015-08-09 19:56] peterblazejewicz opened #37 "Add missing description meta tag"
[code]

At the moment web crawlers takes most prominent text as page excerpt (fortunately correctly from jumbotron area)

The Facebook defines optimal lenght nicely as two sentences long string:
https://developers.facebook.com/docs/sharing/best-practices
Otherwise: https://support.google.com/webmasters/answer/35624?rd=1#1
Thanks!

[2015-08-09 20:48] peterblazejewicz opened #40 "@Html.ApplicationInsightsJavaScript creates deprecated script language attribute"
I just can't find where to submit this one, so I post it here as web site is using it:
https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/Views/Shared/_AnalyticsHead.cshtml#L18

[code]

creates `<script language="javascript"></script>` tag which is non-HTML5 attribute (obsolete one).
In HTML5 all script tag without type are just `JavaScript` types - the `language` should not be used

[2015-08-10 09:40] JimiC commented on #28
The VS tooling for beta 6 is not updating the `dnvm`.ps1 file and it remains at beta5. I have already left a comment at the VS tooling site about it. You need to manually update the `dnvm`.ps1 file from the dev branch or execute dnvm update-self (this will update `DNVM` to beta7 when this is written).

[2015-08-10 09:44] hishamco commented on #28
I already update it myself, but I follow the @DamianEdwards instructions it works fine, thanks @JimiC

[2015-08-10 14:04] hishamco opened #41 "Episode Title"
It is possible to know the episode title for next meeting and display at the header of the website? This may useful for the audience and prepare questions if needed

[2015-08-10 17:28] DamianEdwards commented on #41
No, we don't have it planned like that. It's very off the cuff.

[2015-08-10 17:28] #41 closed, assigned to nobody

[2015-08-10 17:29] DamianEdwards commented on #40
Thanks, I'd already logged that over on their repo at Microsoft/ApplicationInsights-aspnet5#101

[2015-08-10 17:29] #40 closed, assigned to nobody

[2015-08-10 17:31] DamianEdwards commented on #36
Sure

[2015-08-10 17:49] #37 closed, assigned to DamianEdwards

[2015-08-10 19:56] peterblazejewicz commented on #40
Thanks!

[2015-08-10 22:07] #36 closed, assigned to nobody

[2015-08-11 04:27] #26 closed, assigned to nobody

[2015-08-11 17:29] M-Zuber opened #43 "Refresh the page when it's ShowTime"
If I understood what was said during the 8/11 standup, the solution for this would be to start a simple polling as the showtime gets closer?
Assuming that yes, I would like to take a stab at that

[2015-08-11 17:35] Ky7m opened #44 "Css file is not minified on Staging and Production environments"
I guess that it's just mechanical error,
because in _Layout.cshtml file
https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/Views/Shared/_Layout.cshtml#L21
we have
`<link rel="stylesheet" href="~/css/site.css" asp-file-version="true" />"`
instead
`"<link rel="stylesheet" href="~/css/site.min.css" asp-file-version="true" />"`
resulting, on production we get not minified file.

[2015-08-11 19:42] hishamco commented on #44
You are right, but the file is not big, it will be nice if we use bundling after minification which almost done

[2015-08-11 19:50] hishamco commented on #43
Last week I notice a latency the time stopped while the YouTube player not started yet

[2015-08-11 20:24] peterblazejewicz commented on #43
@M-Zuber
AFAIK the page needs to either reload - so HangOut embed partial gets incorporated into page and show starts streaming or JS code should modify view to embed HangOut stream:
https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/Views/Home/Index.cshtml#L34-L38
If I'm not wrong, the current `endCallback` closure just clears counter:
https://github.com/aspnet/live.asp.net/blob/dev

[2015-08-11 20:26] peterblazejewicz commented on #37
worked well:
![20150811220048](https://cloud.githubusercontent.com/assets/14539/9209637/dfbfc3ee-4077-11e5-90ff-140eb6b1d9a9.jpg)
Thanks!

[2015-08-11 20:30] peterblazejewicz commented on #44
The default Gulp tasks are there:
https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/gulpfile.js#L29
https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/gulpfile.js#L45

[2015-08-11 20:34] M-Zuber commented on #43
@peterblazejewicz you are correct, in today's standup it was verified that the page needs to be refreshed.
#45 seems to take care of it quite nicely

[2015-08-11 21:06] hishamco commented on #44
Thanks @peterblazejewicz

[2015-08-11 21:39] hishamco opened #46 "Latest Episode Issue"
I notice this week that the latest not shows yet, after the standup finished, it takes more than couple of hours. I'm not sure if there an issue for the latency

[2015-08-11 22:13] froman118 commented on #46
Scott has to add the video to the Community Standup playlist in YouTube for it to show up. He was hitting the road right after the show ended so likely didn't have a chance to add it.

Ha, he added it just as I was typing that.

[2015-08-11 22:44] hishamco commented on #46
Thanks @froman118

[2015-08-12 00:48] #46 closed, assigned to nobody

[2015-08-12 00:51] #44 closed, assigned to DamianEdwards

[2015-08-12 00:59] hishamco opened #47 "Bootstrap.css is not exist in Development"
The `bootstrap.css` path is not exist in both Development https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/Views/Shared/_Layout.cshtml#L12 and Staging & Production fallback https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/Views/Shared/_Layout.cshtml#L17

[2015-08-12 01:12] DamianEdwards commented on #47
It gets added when the bower components are restored. VS does this automatically but without VS you have to run a `bower install` from the cmd line.

[2015-08-12 01:12] #47 closed, assigned to nobody

[2015-08-12 01:21] hishamco commented on #47
Thanks

[2015-08-12 07:50] JimiC commented on #47
@DamianEdwards According to [this article](http://addyosmani.com/blog/checking-in-front-end-dependencies/) you may wonna consider adding the `bower_components` folder to the repo.

[2015-08-15 23:55] cgrantnz opened #50 "Low Google PageSpeed Insights score"
Currently the live site gets 72/100 for desktop and 52/100 for mobile https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Flive.asp.net%2F&tab=mobile I showed the site to a Ruby dev friend and he wasn't kind about that pagespeed score... If I submit a PR that bumps it up without doing anything weird will you take a look at it?

![Image of PageSpeed Insights score](https://i.im

[2015-08-16 00:00] hishamco commented on #50
Thanks @callumelgrant, let us know the fixes that may improve the speed, also I will check it too using using `Web Developer Checklist`

[2015-08-16 00:08] hishamco commented on #50
BTW @callumelgrant can you check staging environment https://asp-standup-staging.azurewebsites.net/ because the recent PRs doesn't reflect immediately until it's stable

[2015-08-16 00:15] hishamco commented on #50
The staging got 79/100, @callumelgrant be freely to submit a PR if it improves the source :smile:

[2015-08-18 20:09] DamianEdwards commented on #50
I took a look. Seems we could do the following to improve the score:
- Optimize the home-bg.jpg image
- Inline the site.min.css (modify the `ScriptInliningTagHelper` to support CSS too)
- Configure IIS expiration headers for home-bg.jpg

The other items we're scored lower on are out of our control really (like the ms.js file). I don't really want to defer loading of the bootstrap CSS because that'

[2015-08-18 20:12] hishamco commented on #50
:+1:

[2015-08-18 20:25] hishamco commented on #50
@DamianEdwards regarding the second point I prefer to create `StyleInlineTagHelper` because the name `ScriptInliningTagHelper` doesn't make sense to support both inline script and style

[2015-08-18 20:27] DamianEdwards commented on #50
@hishamco just change the name of the class, e.g. `ScriptStyleInliningTagHelper`

[2015-08-18 20:36] hishamco commented on #50
Sound looks good :smile:

[2015-08-18 20:43] DamianEdwards opened #51 "Configure JSHint & CSSLint to run via gulp"
With PRs coming in now with changes to JS and CSS would be great to get JSHint and CSSLint running so can easily ensure compliance and catch issues.

[2015-08-18 22:10] matsprea opened #54 "Coding conventions"
Since I'm learning _the hard way_ (in a couple of PR) how to properly style the code for this repo, I was wandering if there is a _coding conventions_ doc that we can read before submitting a PR to improve the process.

Maybe this one [C# Coding Conventions](https://msdn.microsoft.com/en-us/library/Ff926074%28v=vs.120%29.aspx) ?

IMHO it will be useful to link the _coding conventions_ doc in the [

[2015-08-18 22:13] hishamco commented on #54
This may a great guideline https://github.com/aspnet/Home/wiki/Engineering-guidelines#extension-method-patterns because `aspnet` repos already use it :smile:

[2015-08-18 22:21] matsprea commented on #54
Thanks, my fault, sorry.

[2015-08-18 22:21] #54 closed, assigned to nobody

[2015-08-18 22:24] hishamco opened #55 "Add AppVeyor, Travis build status"

[2015-08-19 02:15] rmarinho opened #56 "Run in OSX"
It would be nice if we could just clone and run it locally from OSX with kestrel.

[2015-08-19 09:59] YumiFuze opened #57 "MS Logo 404"
![image](https://cloud.githubusercontent.com/assets/12098548/9353591/d7a70484-46ac-11e5-88ea-a563d3856035.png)

[2015-08-19 10:35] JimiC commented on #55
Definitely add Travis. AppVeyor needs to improve their queuing time (it can take up to 30 min till the changes get build).

[2015-08-19 12:08] hishamco commented on #55
I already made such PR in many of `aspnet` repos with help of @Eilon which he adds the token of it

[2015-08-19 12:17] hishamco commented on #57
@YumiFuze can you check it in staging https://asp-standup-staging.azurewebsites.net/ the logo got `200 OK` but seems the image could not loaded

![capture](https://cloud.githubusercontent.com/assets/3237266/9355824/1e18c4a2-4685-11e5-8a3b-65a278585ae6.PNG)

[2015-08-19 16:02] hishamco commented on #56
:+1: I will make a PR soon to support `Kestrel` too

[2015-08-19 18:24] matsprea commented on #57
I have the same issue, both in production and staging, but it works fine on my machine on localhost.

**General**

[code]

**Response Headers**

[code]

**Response Body**

[code]

[2015-08-19 19:37] hishamco commented on #57
Sorry I think it was cached, now i got `404`

[2015-08-19 19:39] hishamco commented on #57
@DamianEdwards can you please check if there's an issue

[2015-08-19 19:40] DamianEdwards commented on #57
It's being investigated, appears to be an Azure issue on the server.

[2015-08-19 21:50] DamianEdwards commented on #56
This will require making the app target .NET Core (dnxcore50). This will potentially impact the dependencies it has as they also need to run on .NET Core, e.g. the Windows Azure Storage client, the YouTube API client. I can take a look to see if we can make it work but I have no need for it to run cross-platform right now so I purposely removed .NET Core as a target.

[2015-08-19 21:52] DamianEdwards commented on #55
We don't build this repo at all automatically right now as it's not part of the ASP.NET source. Having a CI build would be nice but I already push to staging on Azure automatically so it builds as part of that and I can see if it fails.

[2015-08-19 22:04] hishamco commented on #55
Thanks @DamianEdwards

[2015-08-20 06:04] YumiFuze commented on #57
Hi all, It appears to be resolved now. :)

Kind Regards,

​yumiFUZE ​
Support Team

On Thu, Aug 20, 2015 at 5:40 AM, Damian Edwards notifications@github.com
wrote:

[2015-08-20 13:13] hishamco commented on #57
:+1:

[2015-08-20 19:21] #57 closed, assigned to nobody

[2015-09-09 12:51] Bartmax opened #61 "Missing [Authorize] Attribute on admin post action."
https://github.com/aspnet/live.asp.net/blob/a3ad4d4498cb2e836b0a8558ce1bd8f2eed61c29/src/live.asp.net/Controllers/AdminController.cs#L88-L89

clearcache (post) doesn't have `[Authorize("Admin")]` attribute.
I think it would be an improvement to have the `[Authorize]` filter at the controller level instead of per action.

[2015-09-12 17:14] Eilon commented on #54
BTW the default guidance in general for any repo is "follow the conventions already used in the repo/file/project. The official guidelines we use deliberately avoid going into many details because it's generally not worth it.

[2015-09-15 18:23] matsprea commented on #61
With a simple POST everyone can clear the youtube cache, causing a waste of resources.

@DamianEdwards what do you think?

[2015-09-15 18:54] DamianEdwards commented on #61
Agreed. That's an oversight, we should just put it on the controller.

[2015-09-19 01:14] #61 closed, assigned to nobody

[2015-09-19 01:18] #51 closed, assigned to nobody

[2015-09-19 05:47] DamianEdwards commented on #56
The YouTube API hasn't yet been updated for .NET Core so I'm closing this for now. We can revisit this in the future once that and the WindowsAzure.Storage client are ready for .NET Core and cross-platform.

[2015-09-19 05:47] #56 closed, assigned to nobody

[2015-09-19 05:47] #55 closed, assigned to nobody

[2015-09-19 05:48] #6 closed

[2015-10-03 15:08] nislambd opened #64 "Show video time"
It would be great to see the length of the video along with the thumbnail in the home page.

[2015-10-14 09:32] akoeplinger opened #66 "Feature: display a short announcement banner on the site"
This would allow you to post a quick update in case you had to reschedule/cancel the meeting and avoids confusion like https://twitter.com/khellang/status/654211759000145920.

e.g. **"We had to cancel the meeting for 2015-10-13 and will be back next week. Sorry"**

[2015-10-14 09:46] hishamco commented on #66
The time is already updated in the header of live.asp.net

[2015-10-14 09:48] akoeplinger commented on #66
@hishamco yes, but that doesn't provide context on _why_ it was updated when e.g. an hour ago it showed "2 hrs 10mins until standup" and I'm left wondering what happened.

[2015-10-20 15:06] benaadams opened #69 "Logo svg not served"
The logo svg is not being served and returning a 404 url https://live.asp.net/images/Microsoft_logo.svg

This means ut shows up as a broken image in chrome

![missing logo](http://aoa.blob.core.windows.net/aspnet/logo.png)

Also in Edge

![missing-logo](http://aoa.blob.core.windows.net/aspnet/logo-edge.png)

[2015-10-20 15:08] Muchiachio commented on #69
This is actually a gif of "things happening on @DamianEdwards monitors". :smile:

[2015-10-20 15:56] hishamco commented on #69
It was there before, let me look have a look @benaadams
nice catch .. thanks

[2015-10-20 15:57] benaadams commented on #69
@hishamco File seems to be there, might be a mime type/file extension thing?

[2015-10-20 16:01] hishamco commented on #69
The png file is there not the svg :(

[2015-10-20 16:02] hishamco commented on #69
It's related to the issue #57
/cc @DamianEdwards

[2015-10-20 16:03] benaadams commented on #69
Ah, is in repository https://github.com/aspnet/live.asp.net/tree/dev/src/live.asp.net/wwwroot/images

[2015-10-20 16:06] hishamco commented on #69
Yep it's there, but the user got **404**, as I said before it's related to issue #57

[2015-10-25 22:20] hishamco commented on #69
@benaadams it got fixed, @DamianEdwards can we know why the issue happen frequently?

[2015-10-25 22:28] DamianEdwards commented on #69
It was an issue with Azure Web Apps configuration they fixed in the latest update.

[2015-10-25 22:28] #69 closed, assigned to nobody

[2015-10-25 22:49] hishamco commented on #69
You already mention that in issue #57, but I surprised why it happen again
Thanks @DamianEdwards

[2015-10-28 15:38] froman118 commented on #66
Just ran into this yesterday. I had a calendar event setup (via downloaded ICS) for yesterday, 10/28/15, at 3:30 PM. Pop onto the site to see what's going on and nothing except the countdown for next week's show.

[2015-11-18 03:51] flcdrg opened #72 "Make ics file have a suffix"
If I download the ics file on a Windows Phone, it either saves the file as 'ics[1]' in downloads, or offers to open the file by looking for an app (which then fails).

I think if the file downloaded was named with '.ics' as a file suffix (eg. 'liveaspnet.ics' or 'meeting.ics'), then this would reduce the problem.

[2016-01-20 14:00] hishamco opened #76 "[Bug] ON AIR label still show up after ~ 12 hour later"

[2016-02-05 00:24] ajaybhargavb opened #77 "Update Json.Net version to 8.0.2"
We are going to use a consistent version across all repos in aspnet.

[2016-02-05 00:27] Eilon commented on #77
@DamianEdwards leaving this one to you so we don't mess up any plans you might have.

[2016-02-05 00:34] #77 closed, assigned to nobody

[2016-02-17 10:31] hishamco commented on #76
I notice this bug again this week, I'm sure this bug is caused by this [line](https://github.com/aspnet/live.asp.net/blob/0af774b6aafae6b760dc98852b4f6be7a98c40be/src/live.asp.net/ViewModels/HomeViewModel.cs#L17)

[2016-02-25 05:47] John0King opened #79 "Youtube & China"
Youtube is not available in  China  :(

[2016-03-01 19:51] ghost opened #80 "ASP.NET 5 RC1 Update 1 Corruption"
Installing "ASP.NET 5 RC1 Update 1" on a clean installation of Visual Studio 2015 (any version) with Update 1, will forever corrupt your Visual Studio 2015 installation, making it impossible to edit .cshtml files.  The following issues have been opened:

[Can't open .cshtml files with the Visual Studio 2015 HTML Editor (ASP.NET 5 RC1 Update 1)](https://connect.microsoft.com/VisualStudio/feedback/d

[2016-03-01 21:11] hishamco commented on #80
I don't think this is the right repo

[2016-03-01 22:32] Eilon commented on #80
@Kaelum I'm sorry you're running into all these issues - this of course is not the expected experience. I bumped the discussion on https://github.com/aspnet/Tooling/issues/390 to make sure the VS tooling folks see this again. (This repo is specifically for discussing the live.asp.net web site, so it's unlikely the right VS tooling people would be monitoring this discussion here.)

[2016-03-01 22:32] #80 closed, assigned to nobody

[2016-03-16 20:05] csharpfritz opened #81 "FAQ page"
There are regular repeated questions during the Community Standup that should be addressed in an FAQ so that the questions during the standup can be focused on new and productive discussions.

[2016-03-30 15:10] Brad-Christie commented on #18
Not to revive an old thread, but I'm always playing "catch up" with these videos because my calendar doesn't update.

Along the lines of what @shanselman was suggesting, can we leverage [`X-PUBLISHED-TTL:PT1D`](http://msdn.microsoft.com/en-us/library/ee178699%28v=exchg.80%29.aspx) in the iCal and have Outlook fetch an update automatically (for the next event)? That would at least satisfy outlook u

[2016-04-10 17:36] JimiC commented on #76
Looks like @DamianEdwards is _reeeeeeally_ busy.

[2016-04-10 23:24] hishamco commented on #76
Sure 😄

[2016-04-11 06:56] kdaveid commented on #76
I think Damian just hasn't updated the next "LiveShowDetails" on Azure... If he would do that, not committing any LiveShowEmbedUrl or AdminMessage THEN it would fall back to [NextShowScheduled](https://github.com/aspnet/live.asp.net/blob/0af774b6aafae6b760dc98852b4f6be7a98c40be/src/live.asp.net/Views/Home/Index.cshtml#L41)...

@DamianEdwards : When can we join you next time? ;-)

[2016-04-11 13:43] fglebel opened #83 "Shows ON AIR while off air"
Site shows ON AIR while we are off air.

[2016-04-11 13:51] JimiC commented on #83
Duplicate with issue #76. Please close this issue.

[2016-04-11 13:53] #83 closed, assigned to nobody

[2016-04-11 17:31] DamianEdwards commented on #76
Yeah we just hadn't cleared the broadcast URL from the admin screen. The bug is us.

[2016-04-11 17:31] #76 closed, assigned to nobody

[2016-04-11 18:01] JimiC commented on #76
@DamianEdwards And we are those who are `bug`ging you. :laughing:

[2016-04-27 12:48] IRooc opened #84 "RC2 Program.cs Directory.GetCurrentDirectory() fails if run from different folder"
In the Main startup you use `Directory.GetCurrentDirectory()` to set the contentroot of the webserver, but this will fail if you start the application from a different folder like
`dotnet run -p src\live.asp.net`

It would be better to use `PlatformServices.Default.Application.ApplicationBasePath` to always have the correct path right? It's in `Microsoft.Extensions.PlatformAbstractions`

[2016-06-24 05:34] DamianEdwards commented on #84
This is the desired behavior and indeed what is in our default templates now. Apps are free to change the code to point to whatever they want, but this code is optimized for working with the project in VS, from the command line in the project root, and after the project is published.

[2016-06-24 05:34] #84 closed, assigned to nobody

[2016-06-24 05:35] DamianEdwards commented on #79
We've long talked about getting these videos on to channel9. @shanselman we should really make that a priority to help the folks in China.

[2016-06-26 04:09] hishamco opened #85 "Issue in last episode date"
The last episode date is Jun 21, 2016 not 25
/cc @jongalloway @DamianEdwards @shanselman

[2016-06-26 06:45] JimiC commented on #85
That's the day @shanselman published it on youtube (after all he mentions in the title the correct day). @DamianEdwards [recording](https://www.youtube.com/watch?v=_nF3BQmrdkU) is of 21st June. It's a trivial issue and I don't think we should make a big deal out of it.

[2016-06-26 13:06] hishamco commented on #85
I miss this week stand up, but when I notice that, I report it as an issue, I know it's not a big deal, but it's issue if i'm not wrong 😄

[2016-06-27 03:28] shanselman commented on #85
Thanks Folks!

[2016-06-27 03:28] #85 closed, assigned to nobody

[2016-06-27 17:48] aminebizid opened #86 "RTM"
Damian are you planning to migrate this solution to 1.0.0?

[2016-06-27 20:55] DamianEdwards commented on #86
Of course! Will do so as soon as Azure App Service web sites deploys .NET Core 1.0 RTM bits.

[2016-06-27 22:11] gdoron commented on #86
@DamianEdwards Any ETA on that?

[2016-06-29 01:19] DamianEdwards commented on #86
Did it today live on the standup! :smile:

[2016-06-29 01:19] #86 closed, assigned to nobody

[2016-06-29 04:28] aminebizid commented on #86
Thanks

[2016-06-29 05:25] aminebizid commented on #86
Do I need uninstall RC1 & RC2 before installing RTM?

[2016-06-29 05:26] DamianEdwards commented on #86
No

On Jun 28, 2016 10:25 PM, "Amine BIZID" notifications@github.com wrote:

[2016-06-29 05:38] aminebizid commented on #86
Great and wonderful response

[2016-06-29 05:40] DamianEdwards commented on #86
I like to be efficient 😃

[2016-06-29 05:47] aminebizid commented on #86
Damian, sorry I know this is not the correct place to post this
Our experts adviced us to not migrate to Core because a guy from Microsoft France told them that there will be big breaking changes  coming in next version.
As I'm following community standup I know that these changes will only impact tooling.
Could you please confirm.
Cheers

[2016-06-29 05:52] gdoron commented on #86
I believe this guy had no clue and was only guessing.
And regardless, even though rc1 to RTM  had quite a few breaking changes, migrating isn't that hard.

Obviously changes between releases would be even easier.

[2016-06-29 05:54] aminebizid commented on #86
Thanks gdoron but I need a response from Damian because I will forward it.

[2016-06-30 18:20] hishamco commented on #86
@zigzag95 you can check the breaking changes for the latest bits in [announcements repo](https://github.com/asp net/announcements)

[2016-07-04 21:17] greenygh0st opened #89 "Add to calendar dropdown broken?"
When I click the "add to calendar" dropdown nothing happens in Edge, Firefox or Chrome. I need to fiddle a little more to see whats actually going wrong.

[2016-07-05 19:19] DamianEdwards commented on #89
This is my fault. I removed jQuery from the home page, forgetting it was used for the dropdown. I'll fix.

[2016-07-05 19:33] DamianEdwards commented on #89
52cfda6c5421aa186c515387d67d11fd4d04b8e6

[2016-07-05 19:33] #89 closed, assigned to nobody

[2016-07-05 21:20] greenygh0st commented on #89
Thanks for the quick fix!

[2016-07-14 05:07] shanselman commented on #79
Gotcha. I will work with @csharpfritz and figure out that script we need to copy to Channel 9.

[2016-07-14 09:57] aminebizid commented on #79
How can they live without YouTube. Ok I stop politics now 😏

[2016-07-26 06:55] philipp985 opened #94 "ics file not working"
When I dowload the ics file it seems to be an empty file. Opening it with outlook is not possible and even opening it with notepad displays just an empty page.

[2016-07-27 10:43] hishamco commented on #94
@philipp985 the ics file works fine on the [staging environment](https://ms-asp-standup-staging.azurewebsites.net/), @DamianEdwards did you push the latest changes to the production environment, or is there something else causes this issue?

[2016-07-29 19:02] philipp985 commented on #94
Ah ok, thanks for the information I can confirm that.

[2016-08-10 13:52] hishamco commented on #94
@DamianEdwards I notice the latest episode is not show up in the production, but its shown in the staging. Can you please push the changes

[2016-08-12 03:03] hishamco commented on #94
@philipp985 is this got fixed, you can check it now

[2016-08-16 09:08] JanSichula opened #95 "The time zone ID 'Pacific Standard Time' was not found on the local computer on Ubuntu on Win10"
Hello,

I am trying to get it to work on Ubuntu for Windows 10 which is my dev setup with a production setup being RHEL with Openshift. In my effort I have encountered following error when I try to run the project.

"
fail: Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware[0]
      An unhandled exception has occurred: The type initializer for 'DesignData' threw an exception.
System.TypeI

[2016-08-16 20:47] JanSichula commented on #95
I was able to run the project after some research. In my case,  I have changed "Pacific Standard Time" to „GMT“ in https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/Services/YouTubeShowsService.cs#L142.

Looks like more robust cross-platform support for Times Zones is coming with .NET Core 1.2 as per  https://github.com/dotnet/corefx/issues/7552.

[2016-10-26 02:07] hishamco opened #96 "Looking for better Performance"
While announcing ASP.NET Core 1.1 Preview 1, it would be nice to improve the performance using some of the new features such as Response Caching & Response Compression, this may a continuation of what @spboyer did in PR #93

/cc @DamianEdwards

[2016-10-26 02:33] DamianEdwards commented on #96
Yeah I'm in the process up updating this site to 1.1.0-preview1, I'll see if either of these middleware improve the home page response time/size.

[2016-10-26 02:46] hishamco commented on #96
I was planning to push a PR, but if you're in the process of updating to 1.1.0-preview1, please have a look if these middlewares may improve the home page response time/size

[2016-10-26 02:48] hishamco commented on #96
BTW there 're a lot of PRs with no action taken from long long time, hopefully if someone have a look to them

[2016-11-14 07:28] hishamco commented on #94
@philipp985 could you please close this, it's fixed

[2016-11-14 13:34] hishamco commented on #72
@flcdrg I can reproduce this issue in my Window Phone, but could you please it works on Android & iOS or this the case for WP?

[2016-11-15 11:30] flcdrg commented on #72
I only have a Windows Phone

[2016-11-15 11:36] hishamco commented on #72
I see, I will try to test it in the Android too

[2016-11-15 11:55] hishamco commented on #72
FYI in Android the downloaded file is `ical.ics`

[2016-11-15 12:22] JimiC commented on #72
It's an issue only seen in IE 10-. Had the same situation with another project of mine.

[2016-11-16 16:07] #94 closed, assigned to nobody

[2016-11-18 12:31] hishamco commented on #72
Strange!!

[2016-11-19 03:56] hashhar opened #99 "Add an RSS/Atom feed"
Add an RSS/Atom feed so that people can subscribe to the series as a podcast.

[2016-11-19 04:00] hashhar commented on #99
I am looking into implementing this and may this ready by the next weekend (exams coming up).

I don't know the best practices regarding creating an XML feed, so I have currently planned to add a class that generates an XML file conforming to the RSS schema (and maybe an Atom schema additionaly) using something like XMLWriter.

[2016-11-19 04:51] hishamco commented on #99
We already have iCal, webcal and Google Calendar, but the RSS & Atom feeds also a good idea

[2016-11-21 12:30] hishamco opened #102 "Styles & Scripts break in the Development"
@DamianEdwards is this by design, the expectation is the application run in all the environments without adding extra files to the project
Please let me know if I can push my PR to fix this

[2016-11-21 14:50] asadsahi opened #103 "Tools preview version & project upgrade."
How come the build tool version is :  "version": "1.1.0-preview4-final", in project.json. I can only see following tools when installed .net core 1.1.

![image](https://cloud.githubusercontent.com/assets/3470892/20486926/6dc91dd8-aff9-11e6-9236-2bf7c8fe2036.png)

I also installed VS 2017 RC and opend my project, which added csproj file. I deleted that asuming that project.json will still work but

[2016-11-21 15:56] DamianEdwards commented on #102
You'll need to give me more detail. Works OK for me.

[2016-11-21 22:22] hishamco commented on #102
Perhaps you already have them but you forget to commit them in the early days, please have a look to this:
https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/Views/Shared/_Layout.cshtml#L13
https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/Views/Shared/_ValidationScripts.cshtml#L2

those just few examples for non exist resources which is needed in the Development envir

[2016-11-21 22:25] hishamco commented on #103
I think you need to close this and move it to the [Home](https://github.com/aspnet/home) repo

[2016-11-21 22:31] DamianEdwards commented on #103
Those versions are for different things. The tools int the project.json are those that come in nuget packages ("project tools"), whereas those your showing here are the .NET Core SDK tools themselves (i.e. the `dotnet` command line).

[2016-11-21 22:31] #103 closed, assigned to nobody

[2016-11-21 22:33] DamianEdwards commented on #102
The project is set up such that you need to run gulp at least once for those things to be copied. The `lib` folder is not committed at all. Originally it was configured to run npm & bower restore during dotnet restore via the `"scripts"` hook in project.json, but that added a bunch of time to dev scenarios that I didn't like. It also made the deployment time to Azure longer, as it then does it dur

[2016-11-21 22:47] hishamco commented on #102
My aim was to create a PR to add those files instead of run npm & bower, so the deployment will not take that time in this case furthermore it will be used in Development phase.

[2016-11-23 14:36] khellang commented on #99
You could try using something like [cloudscribe.Syndication](https://github.com/joeaudette/cloudscribe.Syndication)?

[2016-11-29 09:55] hashhar commented on #99
This is the error that I'm getting when trying to run dotnet restore, I don't know why?

`dotnet --version` is `1.0.0-preview3-004056`

[code]

[2016-11-29 10:05] davidfowl commented on #99
You need to download:

[code]

preview3 is msbuild based .NET Core and this project doesn't support that yet.

[2016-11-29 10:35] hashhar commented on #99
@davidfowl Thanks. Got it working.

[2016-12-04 08:06] hashhar commented on #99
I'm sorry for the delay. Finally had some time to look into it.

It seems I have two options, the simple one is to use the `YouTubeShowsService` class to get a `ShowList` and create an XML document from it. I may also add some functions to `YouTubeShowsService` to gather some metadata like description and will try to add a field for the show notes as well.

The other option is to use something lik

[2016-12-06 13:52] hashhar commented on #99
@hishamco I have it working locally but had a question? I am using the `IShowsService.GetRecordedShowsAsync()` method which calls into `YouTubeShowsService.GetRecordedShowsAsync()` method.

Also, I don't know if the GET endpoint will work or a new View has to be created? I couldn't check it on my end. By work, I mean if the url `live.asp.net` is pasted into Feedly, it is able to detect the feed.

[2016-12-06 14:07] hishamco commented on #99
@hashhar let me check your PR

[2017-01-16 15:46] DamianEdwards opened #109 "Respond to HEAD requests for iCal"
[Some iCal clients](http://www.icalhooks.com/) can make HEAD requests when determining if an iCal subscription has changed. Right now the site only listens to GET requests for ~/ical so HEAD requests for ~/ical return a 404.

[2017-01-16 22:13] hishamco commented on #109
It returns 200 at my end!!

[2017-01-26 20:27] DamianEdwards opened #111 "Use IDistributedCache with Redis for caching of live show details"
When the site scales to more than one instance, the live show details get out of sync due to them currently being cached via `IMemoryCache`. Need to change this to use `IDistributedCache` backed by Redis.

If the cost of going to Redis for each call ends up affecting the home page response time too much, consider building a hybrid cache that uses Redis for cache invalidation only (via pub/sub), or

[2017-01-26 20:29] DamianEdwards opened #112 "Serve static files from Azure CDN"
I have a CDN endpoint set up at https://liveaspnetcdn.azureedge.net. Need to update the app to actually use it.

Having the CDN URL flow into the app would be nice to do centrally via some Tag Helpers perhaps.

Will need to set cache headers on static files including max-age to ensure the CDN caches them. See https://docs.microsoft.com/en-us/azure/app-service-web/cdn-websites-with-cdn?toc=%2fazure

[2017-01-26 20:35] hishamco opened #113 "Use IFileProvider"
@DamianEdwards I notice that you are using `File` class in `DeploymentService`, I change it using the new ASP.NET FileSystem, so there 're a lot of benifits one of them `async` support. If this fine with you I will submit my changes

[2017-01-26 20:39] DamianEdwards opened #114 "Add iOS touch icon images"
The 404s for iPhone/iPads trying to get touch icons make up the bulk of "failed" requests on the site, so we should just add some icons. http://stackoverflow.com/questions/5110776/apple-touch-icon-for-websites

[2017-01-26 20:47] DamianEdwards commented on #113
The call site is a property anyway, so no benefit from async. Plus, the file providers use the same APIs under the covers, and you'd have to initialize your own instance as the one provided for `ContentRoot` is rooted there and you can't traverse out of it, which I need to in order to get the Kudu active deployment file.

I don't think it adds anything in this case.

[2017-01-27 05:35] DamianEdwards opened #115 "Configure HSTS"
Configure HSTS to enforce HTTPS in browsers. See https://www.troyhunt.com/understanding-http-strict-transport/

[2017-01-27 07:15] Ky7m commented on #115
What do you think about ways of implementation:
- write your own middleware, or
- use 3rd party library (e.g. https://github.com/NWebsec/NWebsec)

NWebsec also helps with CSP (https://en.wikipedia.org/wiki/Content_Security_Policy)

[2017-01-27 07:17] DamianEdwards commented on #115
I started it in the msbuild-migrate branch already as middleware. It's not working AFAICT when I deploy to Azure so not sure what's wrong yet.

[2017-01-27 08:37] Ky7m commented on #115
https://github.com/aspnet/live.asp.net/commit/fe3504ee056b6657452b120d164259f6fabb4eed#diff-9d101b311b5f600a517cce4d840f680aR30

[2017-01-27 20:49] DamianEdwards commented on #115
Fixed (finally) in 39c48c8cc830ad661fcf3f04024e057159a87755

[2017-01-27 20:49] #115 closed, assigned to nobody

[2017-01-27 20:50] #113 closed, assigned to nobody

[2017-02-08 03:15] ghuntley opened #116 "Year in footer is wrong - © 2015 Microsoft. All rights reserved."
![image](https://cloud.githubusercontent.com/assets/127353/22722127/09a7e96c-ee09-11e6-9b4e-c47aec861ced.png)

[2017-02-08 03:25] hishamco commented on #116
It's not wrong, that is the release year, please refer to this PR #33, #106

[2017-02-08 03:37] ghuntley commented on #116
Closing this out, but 💰 this is GitHub issue is going to keep coming up. The usual format for signifying a release year is `$founded - $year`. When it's just `$founded` as witnessed by myself and those two others - it is interpreted as - "sigh, they have forgotten to update the year. Report the bug" - which is a super common problem in the software development industry. Ugh; I don't know why it is

[2017-02-08 03:37] #116 closed, assigned to nobody

[2017-02-21 09:27] ghost opened #118 "Update README.md to include other requirements."
To publish the project npm and gulp need to be installed. This becomes apparent when you publish for the first time and work through the error messages. A quick Google points you in the right direction but I thought it might be useful to have this requirement explained in the README.md.

[2017-03-07 19:57] DamianEdwards opened #120 "Track startup time"
Add code to track the various phases of application startup and report them to Application Insights as events, or maybe a single event with each stage's time as a property.

Stages:
- Start timing at 1st line in `Program.Main`
- `WebHost` building
- DI container building (time between `Startup.ConfigureServices` returning and `Startup.Configure` entering
- First request start/end

[2017-03-13 20:50] hishamco opened #122 "Adding notes for the shows"
IMHO adding the notes for ASP.NET Community Standup to live.asp.net will be valuable for all the people specially those who miss the live shows.

It would be nice to create an archive for those notes that's written frequently by @csharpfritz and @LadyNaggaga or we can reference them in one page, so it will be easy to access them in the future

[2017-03-15 14:39] stibay opened #123 "Dead Privacy Statement link"
Seems like the link to the Privacy Statement should be https://privacy.microsoft.com/privacystatement instead of https://www.asp.net/privacy

[2017-03-15 16:38] hishamco commented on #123
I made a PR #124 for fixing this
Thanks @stibay

[2017-03-23 23:25] PRIMETSS opened #126 "Add to Calendar pulls empty (0 byte) ical.ics file"
### Title
Add to Calendar pulls empty (0 byte) ical.ics file

### Functional impact
When selecting 'Add to Calendar' on home page, a zero byte ical.ics is downloaded.
Tested with multiple browsers.

### Minimal repro steps
Live site has this issue.

### Expected result
Get a file with .ics content.

### Actual result
File is zero bytes, empty.

### Further technical details
So I pulled down the re

[2017-03-23 23:53] hishamco commented on #126
IMHO if it's working on staging environment, perhaps @DamianEdwards needs to push the latest changes to production environment to make it works as expected

[2017-03-27 15:02] ganniaiuei commented on #112
Hi  @DamianEdwards,
I've worked on a solution for this issue.
Since I'm new to this project, I would like to share all changes to understand it they fits or not, before a PR:

- Cache-busting strategy chosen: the same implemented in `Microsoft.AspNetCore.Mvc.TagHelpers.LinkTagHelper` when asp-append-version is selected [https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.TagHelpers

[2017-04-04 06:27] hishamco commented on #123
It got fixed in commit https://github.com/aspnet/live.asp.net/commit/51bc756f982f95d30614d8e0e58958e002b77e11

[2017-04-11 14:41] desjoerd opened #131 "The website says it's on Air, but is it?"
[https://live.asp.net/](https://live.asp.net/) Says it's on air right now. But the embedded video is the one of April 4th. Also there is no live stream on Scott Hanselmans youtube channel. Is it broken? or is the asp.net community standup moved to a seperate channel, because you all talked about it on the previous episode.

[2017-04-11 23:26] hishamco commented on #131
This is not an issue, the main reason that the live.asp.net guys don't modify the option from the admin page, it happen many time in the past 😄

[2017-04-11 23:47] alexwiese commented on #131
They should add a timeout - if it's been 24 hours since last show automatically switch to "off air"

[2017-04-12 00:33] hishamco commented on #131
May be, but there's option in admin section to control this

[2017-05-07 09:23] hishamco opened #134 "Migration to ASP.NET Core 2.0.0"

[2017-05-31 21:38] DamianEdwards opened #135 ""Next Tuesday" helper button on Admin form doesn't work after updating to 2.0.0-preview*"
Seems to be due to the [change of input type to `datetime-local`](https://github.com/aspnet/Mvc/pull/5664)

[2017-06-27 16:55] zeeshanazam opened #136 "is it ok to use more than 10 repeaters in a page in ASP.NET?"

[2017-06-27 17:34] hishamco commented on #136
Seems the question is unrelated to this repo!!

[2017-07-06 15:53] alaatm opened #137 "HTST Middleware"
Shouldn't `Request` be `Response` in the below code?

    if (httpContext.Request.Headers.ContainsKey(_hstsHeaderName))
    {
        _logger.LogDebug("HSTS response header is already set: {headerValue}", httpContext.Request.Headers[_hstsHeaderName]);
        return _next(httpContext);
    }

[Source code](https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/Middlesware/HstsMiddleware.

[2017-07-12 19:57] hishamco opened #138 "Remove YouTube black borders"
The black borders in the YouTube thumbnails is ugly little, I did some experiment to make the thumbnails like this:
![capture](https://user-images.githubusercontent.com/3237266/28137272-5a9f4c8c-6755-11e7-83da-3ff6f2a78035.PNG)

If the change looks fine with you, I will make a PR for this

[2017-07-25 13:16] jphellemons opened #139 "Submit questions up front (pre-show)"
For people who are unable to watch it live and submit questions. Perhaps have them submit issues on github with a certain tag? Or add a feature to the website with a form which sends an mail to questions@aspnetcommunitystandup.org or something? Or have them drop questions in the YouTube comments with a tag which will be evaluated the next show?
I know you guys alternate between timezones (which is

[2017-08-21 08:52] JanSichula commented on #134
Any news on this, please?

[2017-08-21 09:06] hishamco commented on #134
@JanSichula @DamianEdwards already created a branch for ASP.NET Core 2.0.0 https://github.com/aspnet/live.asp.net/tree/2.0.0 , but I'm sure he  busy last few weeks, hopefully he will get back to this soon

[2017-09-07 18:35] DamianEdwards opened #141 "Support show notes in MD files"
With a physical file storage and Azure Blob storage implementations. Just rely on file name conventions for associating show note files with the matching episode. We should show a link on the home page next to episodes for those with show notes, that when clicked renders the show notes on the live.asp.net website, e.g. https://live.asp.net/episodes/show-title-slug-here

[2017-09-07 19:30] hishamco commented on #141
LGTM

Such a feature is requested a lot in the past, nothing but why we didn't make the link go to the original blog post, that are written usually by @csharpfritz or @LadyNaggaga instead of creating the notes again

[2017-09-07 21:38] DamianEdwards commented on #141
Because we intend to change the flow, such that we don't post them there anymore, but rather keep them on the live.asp.net site.

[2017-09-07 22:12] hishamco commented on #141
Looks good 👍

[2017-09-08 09:58] JanSichula commented on #134
@DamianEdwards Hello, would you please share some ETA for migration of code to ASP.NET Core 2.0.0? Some of us like me are waiting for v2 with an intention to fork then.

[2017-09-08 15:00] DamianEdwards commented on #134
As soon as I find a block of 2 hours during my work day so I can live stream the migration. Sorry for the inconvenience, hopefully will happen within the next week.

[2017-09-08 18:07] #131 closed, assigned to nobody

[2017-09-08 18:25] hishamco commented on #122
I will close this, because @DamianEdwards intend to change the flow by using MD files as described in #141

[2017-09-08 18:25] #122 closed, assigned to nobody

[2017-09-08 18:26] hishamco commented on #136
@DamianEdwards we need to close this

[2017-09-09 17:17] Neme12 opened #143 "Is pre-caching static files a good idea?"
Before running the app, CachedWebRootFileProvider.PrimeCache forces cache on all files inside wwwroot. Many of these files are non-minified and never get served in production (bootstrap.css, jquery.js), needlessly taking up hundreds of kilobytes in memory.

The cache itself didn't like that and didn't want to cooperate until it was forced to by setting CompactOnMemoryPressure = false. Maybe this w

[2017-09-12 15:02] IvandroFabiaeFilhos opened #144 "Replicated Date Title"
The event date appear replicated to all episodes!

[2017-09-12 19:36] hishamco commented on #144
You 're right, but It's working on staging environment!! @DamianEdwards is it caching issue or it's related to the YouTube copier that you are working on?!! but the dates in the YotTube playlist is still correct

[2017-09-12 19:51] DamianEdwards commented on #144
I'm fixing it now. The code is incorrectly using the date the item was added to the playlist, not the video recording date.

[2017-09-12 20:02] hishamco commented on #144
Strange!! but it was working since the live.asp.net was created, last commit by you Jun 27 and I'm checking the website from time to time it was working fine, I didn't realize there's incorrect code!!

[2017-09-12 20:15] DamianEdwards commented on #144
I changed the settings of the production site to read from the new playlist which unearthed the bug.

[2017-09-12 20:19] DamianEdwards commented on #144
Fixed now.

[2017-09-12 20:19] #144 closed, assigned to nobody

[2017-09-12 20:29] hishamco commented on #144
Great, but why the `New` label doesn't show up in the last episode?
[code]
I presume the condition is correct

[2017-10-23 06:23] #123 closed, assigned to nobody

[2017-11-08 13:51] lukecolbourn opened #147 "Home page currently showing "On Air""
Home page currently showing "On Air", but you're not on air. Sad times.

[2017-11-08 13:57] lukecolbourn commented on #147
I guess there is not an admin message and there is a live show embedded or the live show HTML is set.
Close.

`public bool IsOnAir => !HasAdminMessage && (IsLiveShowEmbedded || !string.IsNullOrEmpty(LiveShowHtml));`

[2017-11-08 13:57] #147 closed, assigned to nobody

[2017-11-08 13:57] hishamco commented on #147
This is not an issue, seems one the team forget to set the next day

[2017-12-03 19:03] rol-dave-overall opened #148 "Copyright incorrect"
Not a big issue as you guys do a great job, the copyright on the footer of the homepage has 2015......watchout before marketing and legal get ya :)

keep up the great work

[2017-12-03 20:59] hishamco commented on #148
This is the fifth or the sixth time I see such this 😄, it's confusing little bit
Please refer to #33, #106, #116, #127

[2017-12-10 09:14] GiancarloLelli commented on #109
Hey @DamianEdwards I can repro this issue, can I help?

[2018-04-30 16:33] #143 closed, assigned to nobody

[2018-06-14 22:35] mtranchi opened #149 "API endpoint to get next show time"
All aren't big on twitter, would be nice to query your site for updated schedule info.
Maybe throw in planned guests/topics?
Like/try to watch live, missed most of live show couple weeks ago b/c midweek reschedule.

[2018-06-19 11:49] jphellemons commented on #136
Only as long as it's a prime number so 11, 13, 17, 19, 23 etc.
j/k close it please

[2018-07-09 23:12] #136 closed, assigned to nobody

[2018-07-22 14:36] hishamco opened #150 "Localize the landing page"

[2018-07-22 14:41] hishamco commented on #134
@DamianEdwards it's more than 6 months, since you start the migration to 2.0, I knew you 're too busy. Me or someone one the community can continue on this ..

One more thing hopefully someone can maintain the repository .. I seen many issues & PRs for long time without any action

[2018-07-22 16:17] DamianEdwards commented on #134
I have a branch I've been working in recently. I appreciate the offer but this is a site I'll continue to maintain for the time being and I don't intend to make any changes other than eventual version updates.

[2018-07-22 18:13] hishamco commented on #134
All the best ...

[2018-08-04 22:46] aafvstam commented on #138
The YouTube API only returns the thumbnails with black overflow areas. There is no option to get them returned in white background. Only option would be to crop the returned image to the actual thumbnail size without the borders.

[2018-08-05 07:29] hishamco commented on #138
Nope, medium quality images come without black borders, IMHO this issue can be solved either by cropping as you mentioned before or using some CSS to rid off the black border

[2018-08-05 16:31] aafvstam commented on #138
Quote: "The image is not cropped, but may include black bars so that the size is correct."
[https://developers.google.com/youtube/v3/docs/thumbnails](url)

[2018-08-05 16:38] aafvstam commented on #138
Just tested, the mediom indeed gives no black borders despite what the documentation mentioned. Gave me some other layout issues though resulting in one black border on the right :-)

[2018-11-10 04:38] dsteinweg opened #151 "live.asp.net is down"
https://live.asp.net/ shows:
[code]

[2018-11-11 23:04] alexwiese commented on #151
Looks like it's back online now.

[2019-01-17 08:06] bitbonk commented on #126
It also applies to the webcal option. Only the google calendar option works.

[2019-01-22 18:49] #137 closed, assigned to nobody

[2019-01-23 06:48] dsghi commented on #151
Down again :(

[2019-01-23 10:29] chriswoodward commented on #151
Site is down Wednesday morning here in the UK ...

![firefox screenshot](https://user-images.githubusercontent.com/3061603/51600218-69122e80-1ef9-11e9-9995-bbf3ec124268.png)

[2019-01-23 18:37] terrimorton opened #155 "Skip deleted videos in the playlist"
Currently, when a video in the YouTube playlist ([https://www.youtube.com/watch?v=WmDXgO0f-MQ&list=PL1rZQsJPBU2StolNg0aqvQswETPcYnNKL](https://www.youtube.com/watch?v=WmDXgO0f-MQ&list=PL1rZQsJPBU2StolNg0aqvQswETPcYnNKL)) is deleted, the web app will fail with a 500 error and a null reference exception.

We need to skip deleted videos in the playlist.

[2019-01-23 18:38] terrimorton opened #156 "Skip future events in the playlist"
Currently, when a video in the YouTube playlist ([https://www.youtube.com/watch?v=WmDXgO0f-MQ&list=PL1rZQsJPBU2StolNg0aqvQswETPcYnNKL](https://www.youtube.com/watch?v=WmDXgO0f-MQ&list=PL1rZQsJPBU2StolNg0aqvQswETPcYnNKL)) is set in the future, the web app will fail

We need to skip future events in the playlist.

[2019-01-23 18:41] terrimorton commented on #151
We tracked this down to a deleted video being present in the playlist.  We removed the video from the playlist, which brought the website back up.  We filed 2 issues to gracefully handle this situation as well as to handle when future events are found in the playlist.

[Skip deleted videos in the playlist](https://github.com/aspnet/live.asp.net/issues/155)
[Skip future events in the playlist](http

[2019-01-23 19:42] hishamco commented on #155
So that's why the 505 show up in the [live.asp.net](live.asp.net), nice catch

[2019-06-19 01:35] IvanJosipovic commented on #99
How is this still outstanding?

[2019-10-30 00:12] #72 closed, assigned to nobody

[2019-10-30 00:12] #79 closed, assigned to nobody

[2019-10-30 00:12] #81 closed, assigned to nobody

[2019-10-30 00:12] #95 closed, assigned to nobody

[2019-10-30 00:12] #96 closed, assigned to nobody

[2019-10-30 00:12] #99 closed, assigned to nobody

[2019-10-30 00:12] #102 closed, assigned to nobody

[2019-10-30 00:12] #109 closed, assigned to nobody

[2019-10-30 00:12] #111 closed, assigned to nobody

[2019-10-30 00:12] #112 closed, assigned to nobody

[2019-10-30 00:12] #114 closed, assigned to nobody

[2019-10-30 00:12] #118 closed, assigned to nobody

[2019-10-30 00:12] #120 closed, assigned to nobody

[2019-10-30 00:12] #126 closed, assigned to nobody

[2019-10-30 00:12] #134 closed, assigned to nobody

[2019-10-30 00:12] #135 closed, assigned to nobody

[2019-10-30 00:12] #138 closed, assigned to nobody

[2019-10-30 00:12] #139 closed, assigned to nobody

[2019-10-30 00:12] #141 closed, assigned to nobody

[2019-10-30 00:12] #148 closed, assigned to nobody

[2019-10-30 00:12] #149 closed, assigned to nobody

[2019-10-30 00:12] #150 closed, assigned to nobody

[2019-10-30 00:12] #151 closed, assigned to nobody

[2019-10-30 00:12] #155 closed, assigned to nobody

[2019-10-30 00:12] #156 closed, assigned to nobody

[2019-10-30 00:12] #10 closed

[2019-10-30 00:12] #21 closed

[2019-10-30 00:12] #43 closed, assigned to nobody

[2019-10-30 00:12] #50 closed, assigned to nobody

[2019-10-30 00:12] #64 closed, assigned to nobody

[2019-10-30 00:12] #66 closed, assigned to nobody